/* custom font icons */
@import "font.css";

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  background-color: #E9EAED;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

::-webkit-scrollbar {
  width: 9px;
  margin-right: 2px;
}

::-webkit-scrollbar-track-piece {
  background-color: #f5f5f5;
  border-left: 1px solid #d2d2d2;
}

::-webkit-scrollbar-thumb {
  background: #9fa09c;
  width: 9px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b7b8ad;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

body {
  margin: 0;
}

@media (max-width: 1024px) {
  body {
    margin: 8px;
  }
}

a { color: inherit; text-decoration: none; }
a:visited { color: #000000; }
